<!-- HTML code for editing a question -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Question - PSO{% endblock %}

{% block extra_head %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'questionpage/css/post_question.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}

{% autoescape off %}

{% include 'navbar.html' %}
<div class="row">
    <div style="margin-left:50px;" class="col-md-4">
        <h2> Edit a Question </h2>
        <form class="form-horizontal" role="form" action="" method="post">
            {% csrf_token %}
            {% include 'form_template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/" class="btn btn-default">Back to the Homepage</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endautoescape %}

{% endblock %}
