{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Change Password - PSO{% endblock %}

{% block extra_head %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css"/>
<style>
    body {
        margin-top: 70px;
    }

    #change-password {
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="row">
    <div id="change-password" class="col-md-2">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Save changes</button>
        </form>
    </div>
</div>

{% endblock %}
